#board-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.board-cell {
    border: 1px solid black;
    padding: 4px;
}

.racer {
    background-color: var(--color);
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 2px solid light-dark(var(--N999), var(--N0));
}

ul.rolled-result-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 4px;
}

li.rolled-result {
    width: 32px;
    height: 32px;
    display: flex;
    border: 2px solid light-dark(var(--N999), var(--N0));
    background-color: red;
    justify-content: center;
    align-items: center;
    line-height: 32px;
    font-weight: bolder;
    border-radius: 6px;
    min-height: 32px;
}

ul#board-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4px;
}
