#update-name-button {
    border: 1px solid light-dark(black, white);
    border-radius: 2px;
    padding: 3px 8px;
    cursor: pointer;
}

#update-name-button[data-is-matching=true] {
    background-color: light-dark(greenyellow, rgb(14, 110, 15));
}

#update-name-button[data-is-matching=false] {
    background-color: light-dark(yellow, rgb(171, 145, 0));
}

#update-name-button:disabled {
    border-color: light-dark(var(--N400), var(--N400));
}
