---
import AboutHeroImage from '../assets/sample-image.png';
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Page about Jumpoy"
	pubDate={new Date('June 03 2026')}
	heroImage={AboutHeroImage}
	hideDate
>
	<p>
		I'm someone who thinks a lot about code, about games and puzzles, about how language is interesting. Stuff like that.
	</p>
</Layout>
