---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Welcome to my website!</h1>
			<p>
				This website is where I plan to throw all sorts of things that I've made or worked on, or just
				write about things I've been thinking about.
			</p>
			<p>
				Right now there is absolutely nothing here, but I'll work on that.
			</p>
		</main>
		<Footer />
	</body>
</html>
