body {
    background-color: light-dark(var(--B200), var(--B900));
    color: light-dark(var(--N999), var(--N0));
    --player-background: light-dark(var(--p200), var(--p800));
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8px;
}

#top-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 4px;
}

#core-bar {
    display: flex;
    flex-grow: 1;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: light-dark(var(--B300), var(--B700));
    height: 38px;
}

.column, .column-center {
    display: flex;
    flex-direction: column;
}

.column-center {
    align-items: center;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.flex-start {
    align-items: flex-start;
}

.full-width {
    width: 100%;
}

.big-text {
    font-size: 2em;
}

.gap-8px {
    gap: 8px;
}

.gap-16px {
    gap: 16px;
}
