---
import { SITE_TITLE } from "../consts";
import HeaderLink from "./HeaderLink.astro";
import { SheepIcon } from "./icon/Icon";
---

<header>
	<nav>
		<h2>
			<a class="row-center" href="/">
				<SheepIcon width="24" />
				{SITE_TITLE}
			</a>
		</h2>
		<div class="internal-links">
			<HeaderLink href="/blog">Blog</HeaderLink>
			<HeaderLink href="/games">Games</HeaderLink>
		</div>
		<div></div>
	</nav>
</header>
<style>
	header {
		margin: 0;
		padding: 0 1em;
		background-color: var(--background);
		display: flex;
		justify-content: center;
	}
	h2 {
		margin: 0;
		font-size: 1.5em;
		padding-right: 0.5em;
	}

	h2 a.row {
		display: flex;
		align-items: center;
		gap: 8px;
	}

	h2 a,
	h2 a.active {
		text-decoration: none;
	}
	nav {
		display: flex;
		align-items: center;
		max-width: 720px;
		width: 720px;
	}
	nav a {
		padding: 8px 4px;
		color: var(--color-text);
		border-top: 4px solid transparent;
		border-bottom: 4px solid transparent;
		text-decoration: none;
	}
	nav a.active {
		text-decoration: none;
		border-bottom-color: var(--accent);
	}
</style>
