---
interface Props {
    options: string[]
    id: string
}

const { options, id } = Astro.props

const buttonId = `random-card-button-${id}`

export const createNums = (min: number, max: number) => {
    return new Array(max - min + 1).fill(0).map((_, index) => `${index + min} / ${max}`)
}
---

<style>
    .random-card {
        width: 12rem;
        height: 8rem;
        cursor: pointer;
        border-radius: 1em;
        border: 2px solid black;
        background-color: white;
        font-family: inherit;
    }

    .shake {
        animation: shake-animation 0.25s linear;
    }

    @keyframes shake-animation {
        0%, 100% { transform: rotate(0deg); }
        25% { transform: rotate(5deg); }
        75% { transform: rotate(-5deg); }
    }
</style>

<button class="random-card" id={buttonId}>
    {options[0]}
</button>

<script is:inline define:vars={{ buttonId, options }}>
    const button = document.getElementById(buttonId)

    button.addEventListener('click', () => {
        let looping = true

        const updateLoop = () => {
            if (!looping) {
                return
            }

            button.textContent = options[Math.floor(Math.random() * options.length)]

            requestAnimationFrame(updateLoop)
        }

        requestAnimationFrame(updateLoop)

        button.classList.add('shake')

        button.addEventListener('animationend', () => {
            looping = false
            button.classList.remove('shake')
            button.textContent = options[Math.floor(Math.random() * options.length)]
        }, { once: true })
    })
</script>
