.grid-puzzle-container {
    --info-scale: 64px;
    --cell-scale: 96px;

    border: 24px solid light-dark(var(--N900), var(--N700));
    padding: 12px;
    background-color: var(--B400);
}

.grid-puzzle-container[data-correct=true] {
    background-color: var(--G300);
}

.grid-puzzle-grid {
    display: grid;
    grid-template-columns: repeat(var(--columns), var(--cell-scale)) var(--info-scale);
    grid-template-rows: var(--info-scale) repeat(var(--rows), var(--cell-scale));
    gap: 8px;
}

.grid-puzzle-cell {
    background-color: pink;
}

.vertical-edge-rule, .horizontal-edge-rule {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--N0);
    font-size: 2em;
    font-weight: bold;
    --lozenge-background: transparent;
}

.vertical-edge-rule[data-valid=false], .horizontal-edge-rule[data-valid=false] {
    --lozenge-background: var(--R500);
}

.lozenge {
    background-color: var(--lozenge-background);
    border-radius: 8px;
    padding: 0px 20px;
    line-height: 1.25;
}

.grid-puzzle-button {
    background: none;
    border: 4px solid white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grid-puzzle-button:hover {
    background-color: rgba(255, 255, 255, 0.3);
}
