.grid-puzzle-container {
    border: 1em solid light-dark(var(--N900), var(--N700));
    padding: 0.6em;
    background-color: var(--B400);
}

.grid-puzzle-container[data-correct=true] {
    background-color: var(--G300);
}

.grid-puzzle-grid {
    display: grid;
    grid-template-columns: repeat(var(--columns), 2.4em) 1.6em;
    grid-template-rows: 1.6em repeat(var(--rows), 2.4em);
    gap: 0.2em;
}

.grid-puzzle-cell {
    background-color: pink;
}

.vertical-edge-rule, .horizontal-edge-rule {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--N0);
    font-weight: bold;
    --lozenge-background: transparent;
}

.vertical-edge-rule[data-valid=false], .horizontal-edge-rule[data-valid=false] {
    --lozenge-background: var(--R500);
}

.lozenge {
    background-color: var(--lozenge-background);
    border-radius: 0.25em;
    padding: 0.2em;
    line-height: 0;
}

.lozenge.text-only {
    padding: 0 0.6em;
    line-height: 1.25;
}

.lozenge.horizontal {
    transform: rotate(-90deg);
}

.grid-puzzle-button {
    background: none;
    font-size: inherit;
    border: 0.15em solid white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grid-puzzle-button:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.clue-icon {
    width: 1em;
}
