.grid-container {
    display: inline-block;
}

table.grid {
    border: 1px solid var(--color-border);
    table-layout: fixed;
    display: grid;
}

tr.grid-row {
    grid-template-columns: repeat(auto-fit, 32px);
}

td.grid-cell {
    width: 32px;
    height: 32px;
    overflow: hidden;
    text-align: center;
}

td.grid-cell:hover {
    background-color: var(--accent);
}
