.grid-container {
    display: inline-block;
    background-color: light-dark(var(--N100), var(--N800));
    padding: 4px;
    border-radius: 4px;
}

.grid-container[data-selected=true] {
    outline: 2px solid light-dark(var(--N800), var(--N100));
}

.grid-title-row {
    justify-content: space-between;
}

.grid-title {
    padding-inline: 4px;
}

@keyframes wiggle-animation {
    0%,
    40%,
    100% {
        transform: rotate(0deg);
    }

    5%, 25% {
        transform: rotate(10deg);
    }

    15%, 35% {
        transform: rotate(-10deg);
    }
}

.my-turn-now {
    animation: wiggle-animation 2s linear infinite;
}

table.grid {
    display: inline-block;
    border-collapse: collapse;
}

thead.grid-header, tbody.grid-body {
    display: grid;
    gap: 2px;
}

th.grid-heading {
    font-size: 0.5em;
    text-align: center;
    font-weight: normal;
}

tr.grid-row {
    display: grid;
    grid-template-columns: 8px repeat(auto-fit, 32px);
    gap: 2px;
}

td.grid-cell {
    width: 32px;
    height: 32px;
    text-align: center;
    position: relative;
    padding: 0;
}

td.grid-row-label {
    width: 8px;
    font-size: 0.5em;
    text-align: center;
    transform: rotate(90deg) translateY(9px);
}

button.grid-cell-button {
    color: var(--color-text);
    width: 100%;
    height: 100%;
    border: none;
    padding: 0;
    border-radius: 2px;
    background-color: light-dark(var(--N300), var(--N600));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

button.grid-cell-button:not(:disabled) {
    cursor: pointer;
}

button.grid-cell-button:hover:not(:disabled) {
    background-color: light-dark(var(--B200), var(--B600));
}

button.grid-cell-button[aria-selected=true] {
    border: 2px solid light-dark(var(--R600), var(--R400));
}

button.grid-cell-button[data-revealed=true] {
    background-color: light-dark(var(--G300), var(--G600));
    cursor: default;
}
button.grid-cell-button[data-revealed=yellow] {
    background-color: light-dark(var(--Y300), var(--Y600));
    cursor: default;
}
button.grid-cell-button[data-revealed=red] {
    background-color: light-dark(var(--R300), var(--R600));
    cursor: default;
}

.cell-tags {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    height: 14px;
    position: absolute;
    z-index: 0.5;
    top: -4px;
    left: 4px;
    font-size: 0.5em;
    background-color: var(--background-inverse);
    color: var(--color-text-inverse);
    width: 24px;
    border-radius: 3px;
}

.tag-bubble {
    height: 8px;
    width: 8px;
    display: inline-block;
    border-radius: 4px;
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    border-color: light-dark(transparent, var(--N999));
}

.tag-bubble.non-inverse {
    border-color: light-dark(var(--N999), var(--N050));
}

.tag-bubble.yellow {
    background-color: light-dark(var(--Y200), var(--Y300));
}

.tag-bubble.red {
    background-color: light-dark(var(--R500), var(--R600));
}
