.value-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--background-surface-emphasis);
    padding: 4px;
    border-radius: 8px;
}

.value-title[data-complete=true] {
    text-decoration: line-through;
    color: var(--color-text-subtle);
}
