---
import BaseHead from '../components/BaseHead.astro'

import '../components/grid-game/GridPuzzle.css'
---

<html lang="en">
    <head>
        <BaseHead title="Grid game" description="A collection of grid game puzzles" />
    </head>

    <body>
        <main class="column gap-16px">
            <slot />
        </main>
    </body>
</html>
