---
import BaseHead from '../components/BaseHead.astro'
---

<html lang="en">
    <head>
        <BaseHead title="Grid game" description="A collection of grid game puzzles" />
    </head>

    <body>
        <main>
            <slot />
        </main>
    </body>
</html>