.info-table {
    border-collapse: collapse;
}

.info-table > thead > tr > th.head-cell,
.info-table > tbody > tr > td {
    border: 1px solid var(--color-border);
    text-align: center;
    line-height: 0;
}

.rule-section {
    border: 2px solid var(--color-border);
    padding: 16px;
}
